{% if user.is_authenticated %}
    {% if author.following.get.user %}
            <button class="button button_style_light-blue button_size_auto" name="subscribe">
                Отписаться
            </button>
    {% elif author == user %}
        <h3 class="single-card__section-title">Мы не нарцисы, не стоит подписываться на себя)</h3>
    {% else %}
            <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
                Подписаться на автора
            </button>
    {% endif %}
{% endif %}
