{% for ing in recipe.recipe_ingredients.all %}
    <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
        <span>
            {{ ing.ingredient.title }} {{ ing.count }}{{ ing.ingredient.unit }}
        </span> <span class="form__field-item-delete"></span>
        <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ ing.ingredient.title }}">
        <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ ing.count }}">
        <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ ing.ingredient.unit }}">
    </div>
{% endfor %}
