{% extends "recipes/base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

    <div class="single-card">
        <img src="{% static 'images/stat/python-django.png' %}" style="width:660px;height:480px;" alt="errors" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">Об авторе</h1>
            </div>
            <div class="single-card__section">
                <p class=" single-card__section-text">
                    Это произведение вымученного исскуства созданно с помощью:<br>
                    <ul>
                        <li>
                            Фреймворка <a href="https://www.djangoproject.com/" target="_blank">Django</a>
                        </li>
                        <li>
                            Языка программирования <a href="https://www.python.org/" target="_blank">Python</a>
                        </li>
                    </ul>  
                </p>
                <p class=" single-card__section-text">
                    А теперь - идите наслаждаться <a href="{% url  'index' %}">рецептами</a>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block static_js %}{% endblock %}