{% extends "recipes/base.html" %}

{% load static %}

{% load user_filters %}

{% block title %}Изменить пароль{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block heading %}
  <h1 class="main__title">Сброс пароля выполнен</h1>
{% endblock %}

{% block content %}

  <div class="custom-center-block">
    <p class="custom-text-block">Пароль изменён, всё получилось.</p>
    <div class="custom-button-block">
      <a href="{% url 'login' %}">
        <button class="button button_style_blue">Войти на сайт</button>
      </a>
    </div>
  </div>

{% endblock %}
